node_modules
.next
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.github
.gitignore
.vscode
.idea
Dockerfile
.dockerignore
README.md
LICENSE
LICENSE
vercel.json
vercel-template.json
proxy.ts
instrumentation.ts
instrumentation-client.ts
